<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
  </style>
</head>
<h1>북마크 목록</h1>

<a href="/wifi"><button id="home" style="background: transparent;border: none;">홈</button></a>|
<a href="/location-history"><button id="history" style="background: transparent;border: none;">위치 히스토리 목록</button></a>|
<a href="/fetch-and-save-wifi-info"><button id="api_info" style="background: transparent;border: none;">Open API 정보 가져오기</button></a>|
<a href="/bookmark-list"><button id="bookmark-list" style="background: transparent;border: none;">북마크 보기</button></a>|
<a href="/bookmark-group-list"><button id="loadGroups" style="background: transparent;border: none;">북마크 그룹 관리</button></a>
<br>
<a href="/bookmark-add" class="btn btn-primary">북마크 추가하기</a>

<body>
<table id="customers">
  <thead>
  <tr>
    <th>ID</th>
    <th>북마크이름</th>
    <th>순서</th>
    <th>등록일자</th>
    <th>수정일자</th>
    <th>비고</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="groups : ${groups}">
    <td th:text="${groups.id}"></td>
    <td th:text="${groups.name}"></td>
    <td th:text="${groups.number}"></td>
    <td th:text="${groups.registrationDate}"></td>
    <td th:text="${groups.editDate}"></td>
    <td>
    <a th:href="@{/edit-bookmark-group/{id}(id=${groups.id})}" style="background-color: transparent;">수정</a> <a th:href="@{/delete-bookmark-group/{id}(id=${groups.id})}" style="background-color: transparent;">삭제</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>